<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>

  <body>
    <header class="top-bar">
      <div class="search-container">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search from here" />
      </div>

      <div class="user-info">
        <a href="../dashboard/notification.html" class="notification-link">
          <div class="notification-icon">
            <i class="fa-regular fa-bell"></i>
            <span class="red-dot"></span>
          </div>
        </a>

        <div class="profile-section">
          <div class="profile-pic">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="user-details">
            <p class="user-name">UserName</p>
            <p class="user-role">Member</p>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
