<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link rel="stylesheet" href="/css/sidebar.css" />
  </head>

  <body>
    <div class="sidebar">
      <a
        data-page="dashboard"
        href="/pages/dashboard/dashboard.html"
        class="side-link"
        >Dashboard</a
      >
      <a
        data-page="reservations"
        href="/pages/dashboard/reservation.html"
        class="side-link"
        >Reservations</a
      >
      <a
        data-page="assistant"
        href="/pages/dashboard/assistant.html"
        class="side-link"
        >AI Assistant</a
      >
      <a
        data-page="membership"
        href="/pages/dashboard/membership.html"
        class="side-link"
        >Membership</a
      >
      <a
        data-page="profile"
        href="/pages/dashboard/profile.html"
        class="side-link"
        >Profile</a
      >
      <a
        data-page="logout"
        href="/pages/dashboard/logout.html"
        class="side-link"
        >Sign Out</a
      >
    </div>
  </body>
</html>
